html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
   
    background-color: #171717;
 
  }
}


.crypto{
  justify-content: center;
  display: flex;
  background: #7158e3;

}


.position{
  max-width: 2000px;
  width: 90vw;
  display: flex;
}

.cardCryptos{


  width: 100%;
  background-color: #202020;
 display: flex;
 margin-bottom: 0%;


}
.bubbleBox{
max-width: 1500px;
margin: 0;
max-height: 640px;
height: 65%;
width: 90%;


position: absolute;
}
.bubble{
  top: -6%;
  width: 50%;
  height: 94%;
  background-color: rgba(255, 255, 255, .04);
  border-radius: 50%;
  position: absolute;
}
.bubble2{
  top: 6%;
  left: 40%;
  width: 50%;
  height: 94%;
  background-color: rgba(255, 255, 255, .04);
  border-radius: 50%;
  position: absolute;
}

.bitcoinCardImage{
  height: 100%;
  margin-left: 10%;
  width:30%;


}


.bitcoinCard{
  height: 100%;
  width: 70%;

}
.headerTittle{

  width: 80%;
  
  text-align: center;
  font-size: 30px;
 display: flex;
  height: 23%;
 color: white;
}
.headerGraph{
  padding-top: 8%;
  padding-left: 2%;
  
 width: 93%;
 position: relative;
 box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
 border-radius: 5px;
 padding-right: 7%;
 background-color: rgb(48, 47, 47);
}


.tittle{
 margin-left: 2%;
 width: 100%;
 text-align: left;
 
 align-self: center;
  font-size: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
}
.spanTittle{
  font-size: 35px;
  color: green;
  margin-left: 0%;
 
}

.cryptoBox{
  width: 100%;

}
.bitcoinImage{
  padding-top: 2%;
  align-self: center;

}
.hora{
  display: none;
  font-size: 18px;
  color: white;
}
.bitcoinArt{
  filter: drop-shadow(6px 4px 10px rgb(15, 15, 15));
  width: 80%;
  margin-top: 5%;
  

  transform: translate3d(0px, -16px, 0px);
  transition: 2.5s;
}
.bannerArtFooter{
  width: 100%;
  margin-top: -300px;
height: 400px;

background-image: url(../img/banner-curve-dark.png);
background-size: 100% 100%;
}

.filterBox{
  width: 58.5%;
 margin-top: 2%;
  height: 50px;
  color: black;
  display: flex;
  margin-bottom: 2%;
}
.buscar{
  width: 10%;
  height: 50px;
  color: white;

  background-image:url(../img/busca.png);
  background-size: 80% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}


.input{
  width: 100%;
  height: 100%;
  font-size: 20px;
}
.allCrypto{
  min-height: 800px;
  width: 100%;
  background-color: #202020;

}
.allCryptoHolder{
 
  background-color: #202020;
  display: flex;
  justify-content: center;
}

.boxMap{
  background-color: rgb(39, 39, 39);
  margin-bottom: 2%;
  margin-left: 0%;
  width: 100%;
  height: 180px;
 
  
  border: 1px solid rgb(73, 73, 73);
  display: flex;
}
.imageMap{
  align-self: center;
  margin-left: 3%;
  width: 10%;
 
}

.mapBoxTittle{
  align-self: center;
  width: 10%;
  margin-left: 0%;
  font-size: 25px;
  text-align: left;
  
}
.mapBoxPrice{
  align-self: center;
  height: 20%;
  width: 15%;
  margin-left: 5%;
  font-size: 30px;
  text-align: right;
  
}
.mapBoxChange{
  align-self: center;
  margin-left: 0.5%;
  width: 10%;
  padding-top: 17px;
  font-size: 16px;
}
.mapGraph{
  
  margin-left: 17%;
  width: 30%;
  min-width: 360px;
 
  float: right;
  background-color: rgb(48, 47, 47);
  border-radius: 5px;
  position: relative;

}

.tittleHolder{
  width: 100%;
  height: 50px;

  display: flex;
}
.holder1{
 
  width: 32%;
  height: 100%;
}
.holder2{

  width: 38%;
   height: 100%;
}

.holder3{
  
  width: 30%;
  height: 100%;
}
.tittleText{
padding-top: 5px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
color:rgb(184, 184, 184);
}
.header{
  display: flex;
  justify-content: center;
  background: #7158e3;
}
.headerBox{
  width: 100%;
 
  height: 80%;

  display: flex;
 
}

.logo{
  margin-left: 2%;
  width: 6%;
  float: left;
  height: 80%;
  background-image: url(../img/logo.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;

}
.logoTittle{
  width: 40%;
  height: 100%;

}
.logoTittleText{
width: 100%;
margin-top: 7%;
font-size: 55px;
font-weight: bolder;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button{
  
  width: 15%;
  margin-top: 0.5%;
  border-radius: 65px;
  margin-left: 45%;
  height: 65%;
  text-align: center;
  background-color: rgb(252, 252, 252);
  cursor: pointer;
}
.logoButtonText{
  color: black;
  margin-top: 7%;
  font-size: 28px;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.banner{
  height: 500px;

  display: flex;
}
.contentBox{
  display: block;

  width: 60%;
}

.tittleBox{
width: 100%;



}
.tittleTextBanner{

font-size: 55px;
font-weight: BOLDER;
margin-top: 0%;
}
.subTittle{
  width: 100%;

  height: 40%;
}
.subTittletextBanner{
  
  font-size: 34px;
  margin-top: 0%;
}
.imageBanner{
  width: 40%;
  margin-top: -5%;

  height: 100%;
  filter: drop-shadow(6px 4px 10px rgb(15, 15, 15));

}

.imageBannerSize{

  height: 100%;
}

.bitcoinBox{
  display: flex;
  background-color: rgba(255, 255, 255, .04);
  justify-content: center;
}
.addMore{
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}
.addMoreButton{
  width: 30%;
  height: 100%;
  border: 2px solid white;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.addMoreButton:hover{
color: black;
background-color: white;
}
.buttonText{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: bolder;
font-size: 25px;
margin-top: -10px;
margin-top: 4%;
align-self: center;

}
.footer{
  display: flex;

  justify-content: center;
  background-color: rgb(54, 54, 54);
}
.footerBox{
  height:80px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.footerText{

align-self: center;

}


@media (max-width: 900px){

  body {
    color: white !important;
  }

  .tittleHolder{
    display: none;
  }
  .position{
    width: 100vw;
  }
  .bitcoinCardImage{
display: none;
   
   }

   .bitcoinCard{
 width: 100%;


   }
   .bubbleBox{
     display: none;
   }

   .logoTittle{
     width: 90%;
     margin-left: 5%;
   }
   .contentBox{
width: 90%;
margin-left: 5%;
   }
   .imageBanner{
     display: none;
   }
   .buscar{
     display: none;
   }
   .filterBox{
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
 
  }
  .bannerArtFooter{
  display: none;
    margin-top: -500px;

  }
 
 
  .cardCryptos{
    display: none;
  }
 .headerTittle{
   
  width: 80%;
  padding: 5%;
  margin-top: 2%;
  margin-bottom: 2%;

  text-align: center;
  font-size: 30px;
 display: flex;
  height: 23%;
 color: black;
}
.tittle{
  font-size: 40px;
}
 .headerGraph{
 margin-left: 5%;
 
 width: 90%;
 }
 
 .imageMap{
  margin-top: 2%;
  align-self: center;
  margin-left: 3%;
  width: 8%;
  float: left;
}
.boxMap{
  margin-top: 25%;
  display: block;
  width: 100%;
}

.mapBoxTittle{
  
  align-self: center;
  width: 30%;
  margin-top: 2%;
  margin-left: 5%;
  font-size: 20px;
  text-align: left;
  float: left;

}

.mapBoxPrice{
  align-self: center;
  float: left;
  height: 5%;
  width: 25%;
  margin-top: 2%;
  margin-left: 3%;
  font-size: 20px;
  text-align: right;

}
.mapBoxChange{
  align-self: center;
  float: left;
  margin-top: 2%;
  margin-left: 5%;
  width: 10%;
  height: 5%;
  padding-top: 12px;
  font-size: 16px;
  display: none;
}
.mapGraph{
 
  float: left;
  width: 100%;
  min-width: 360px;
  float: right;
  background-color: rgb(48, 47, 47);
  border-radius: 5px;
  position: relative;
  
  
}

.tittleTextBanner{

  font-size: 35px;

  }

  .subTittletextBanner{
    
    font-size: 24px;
 
  }

}