html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #7158e3;
  }
}

.crypto{
  justify-content: center;
  display: flex;
  margin-top: 5%;
}

.position{

  width: 1350px;
  display: flex;
}

.cardCryptos{
  height: 600px;
  width: 100%;
 display: flex;

}
.bubbleBox{
max-width: 1500px;
margin: 0;
height: 120%;
width: 100%;
position: absolute;
}
.bubble{
  top: -6%;
  width: 800px;
  height: 700px;
  background-color: rgba(255, 255, 255, .04);
  border-radius: 50%;
  position: absolute;
}
.bubble2{
  top: 6%;
  left: 40%;
  width: 700px;
  height: 600px;
  background-color: rgba(255, 255, 255, .04);
  border-radius: 50%;
  position: absolute;
}

.bitcoinCardImage{
 height: 100%;
  width:80%;

}
.bitcoinCard{
  height: 100%;
  width: 100%;

}
.headerTittle{

  width: 80%;
  margin-left:10%;
  text-align: center;
  font-size: 30px;
 display: flex;
  height: 23%;
 color: black;
}
.headerGraph{
  padding-top: 8%;
  height: 70%;
 width: 80%;
 margin-left: 10%;
 box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
 border-radius: 5px;
 padding-right: 7%;
}
.tittle{
 margin-left: 2%;
 width: 100%;
 text-align: left;
 
 align-self: center;
  font-size: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
}
.spanTittle{
  font-size: 35px;
  color: green;
  margin-left: 0%;
 
}

.cryptoBox{
  width: 100%;

}
.bitcoinImage{
  padding-top: 2%;
  align-self: center;

}
.hora{
  display: none;
  font-size: 18px;
  color: white;
}
.bitcoinArt{
  filter: drop-shadow(6px 4px 10px rgb(15, 15, 15));
  width: 90%;
  height: 80%;
  margin-top: 10%;
 
}
.bannerArtFooter{
  width: 100%;
  margin-top: -300px;
height: 400px;

background-image: url(../img/banner-curve-dark.png);
background-size: 100% 100%;
}

.allCrypto{

  width: 100%;
  background-color: #2a3543;
 

}
.allCryptoHolder{
 
  background-color: #2a3543;
  display: flex;
  justify-content: center;
}

.boxMap{
  background-color: rgb(47, 47, 48);
  margin-bottom: 2%;
  margin-left: 0%;
  width: 100%;
  height: 160px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: 1px solid rgb(73, 73, 73);
  display: flex;
}
.imageMap{
  align-self: center;
  margin-left: 3%;
  width: 10%;
 
}

.mapBoxTittle{
  align-self: center;
  width: 10%;
  margin-left: 0%;
  font-size: 25px;
  text-align: left;
  
}
.mapBoxPrice{
  align-self: center;
  height: 20%;
  width: 15%;
  margin-left: 5%;
  font-size: 30px;
  text-align: right;
  
}
.mapBoxChange{
  align-self: center;
  margin-left: 0.5%;
  width: 10%;
  padding-top: 17px;
  font-size: 16px;
}
.mapGraph{
 
  width: 30%;
  height: 100%;
  margin-left: 16%;
}
.tittleHolder{
  width: 100%;
  height: 50px;

  display: flex;
}
.holder1{
 
  width: 32%;
  height: 100%;
}
.holder2{

  width: 38%;
   height: 100%;
}
.holder3{
  
  width: 30%;
  height: 100%;
}
.tittleText{
padding-top: 5px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
color:rgb(184, 184, 184);
}
.header{
  display: flex;
  justify-content: center;
  background-color: black;
}
.headerBox{
  width: 100%;
  margin-top:2%;
  height: 80%;

  display: flex;
 
}
.logo{
  margin-left: 2%;
  width: 6%;
  float: left;
  height: 80%;
  background-image: url(../img/logo.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;

}
.logoTittle{
  width: 20%;
  height: 100%;

  margin-left: 0%;
}
.logoTittleText{

margin-top: 7%;
font-size: 35px;
font-weight: bolder;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button{
  
  width: 15%;
  margin-top: 0.5%;
  border-radius: 65px;
  margin-left: 45%;
  height: 65%;
  text-align: center;
  background-color: rgb(252, 252, 252);
  cursor: pointer;
}
.logoButtonText{
  color: black;
  margin-top: 7%;
  font-size: 28px;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}