html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #7158e3;
  }
}

.crypto{
  justify-content: center;
  display: flex;
  margin-top: 5%;
}

.position{

  width: 1350px;
  display: flex;
}

.cardCryptos{
  height: 600px;
  width: 100%;
 display: flex;

}
.bubbleBox{
max-width: 1500px;
margin: 0;
height: 120%;
width: 100%;
position: absolute;
}
.bubble{
  top: -6%;
  width: 800px;
  height: 700px;
  background-color: rgba(255, 255, 255, .04);
  border-radius: 50%;
  position: absolute;
}
.bubble2{
  top: 6%;
  left: 40%;
  width: 700px;
  height: 600px;
  background-color: rgba(255, 255, 255, .04);
  border-radius: 50%;
  position: absolute;
}

.bitcoinCardImage{
 height: 100%;
  width:80%;

}
.bitcoinCard{
  height: 100%;
  width: 100%;

}
.headerTittle{

  width: 80%;
  margin-left:10%;
  text-align: center;
  font-size: 30px;
 display: flex;
  height: 23%;
 color: black;
}
.headerGraph{
  padding-top: 8%;
  height: 70%;
 width: 80%;
 margin-left: 10%;
 box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
 border-radius: 5px;
 padding-right: 7%;
}
.tittle{
 margin-left: 2%;
 width: 100%;
 text-align: left;
 
 align-self: center;
  font-size: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
}
.spanTittle{
  font-size: 35px;
  color: green;
  margin-left: 0%;
 
}

.cryptoBox{
  width: 100%;

}
.bitcoinImage{
  padding-top: 2%;
  align-self: center;

}
.hora{
  display: none;
  font-size: 18px;
  color: white;
}
.bitcoinArt{
  filter: drop-shadow(6px 4px 10px rgb(15, 15, 15));
  width: 90%;
  height: 80%;
  margin-top: 10%;
 
}
.bannerArtFooter{
  width: 100vw;
 margin-top: -14%;
 
}

.allCrypto{
 
  width: 100%;
  height: 800px;

}
.allCryptoHolder{

  background-color: #2a3543;
  display: flex;
  justify-content: center;
}